@{
    ViewBag.Title = "Home";
}


<div class="fill">
    <img src="/Content/Images/Index/banner.jpg" alt="" class="fill-banner" />
</div>
<div id="index-text">
    <h1>Welcome to foodpad</h1>
</div>
<div class="main-card">
    <h2>Hello, there.</h2>
    <p>Welcome to your online recipe pad.</p>
    <p>This is where you store recipes, search recipes and share recipes.</p>
    <p>Enjoy and happy cooking! &#x1F604;	</p>
</div>