@{
    ViewBag.Title = "Home Page";
}


<div class="fill">
    <img src="/Content/Images/Index/banner.jpg" alt="" class="fill-banner" />
</div>
<div class="main-card">
    <h2>Hello, there.</h2>
    <p>Welcome to your online recipe pad.</p>
    <p>This is where you store recipes, search recipes and share recipes.</p>
    <p>Enjoy and happy cooking! &#x1F604;	</p>
</div>

<!--<div class="fill">
    <img src="../Images/main-b.jpg" alt="" />
</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
<!--iv class="row">
    <div class="col-md-4 fill">
        <img src="../Images/img1.jpg" alt="" />
    </div>
    <div class="col-md-4 fill">
        <img src="../Images/img2.jpg" alt="" />
    </div>
    <div class="col-md-4 fill">
        <img src="../Images/img3.jpg" alt="" />
    </div>
</div>-->