@model PassionProject.Models.RecipeDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="inner-container">
    <div id="left-nav">
        <a href="/Recipe/List" class="button">Back</a>
    </div>
    <div class="delete-container">
        <div class="delete-msg">
        <p>Are you sure you want to delete this recipe?</p>
        <form action="/Recipe/Delete/@Model.RecipeID" method="POST">
            <input type="submit" value="Confirm Delete" class="button" id="del-b" />
        </form>
        </div>
    </div>
    <div id="details-content">
        <h2>@Model.RecipeTitle</h2>
        <p>Instructions: @Model.RecipeInstructions</p>
        <p>Difficulty Level: @Model.RecipeDifficultyLevel</p>
    </div>
</div>
