@model IEnumerable<PassionProject.Models.RecipeDto>
@{
    ViewBag.Title = "List";
}


<h2>Recipes</h2>
<p id="tagline">[ The world is your oyster &#x1F9AA; ]</p>

<div id="right-nav">
    <a href="New" class="button">Add New Recipe</a>
</div>
<div id="details-content">
    <div class="grid-container">
        @foreach (var recipe in Model)
        {
            <div class="card">
                <h3><a href="/Recipe/Details/@recipe.RecipeID">@recipe.RecipeTitle</a></h3>
                @{
                    string imageurl = "/Content/Images/Recipes/default.png";
                    if (recipe.RecipeHasPic)
                    {
                        imageurl = "/Content/Images/Recipes/" + recipe.RecipeID + "." + recipe.PicExtension;
                    }
                }
            <div><img class="img-list" alt="@recipe.RecipeTitle" src="@imageurl"/></div>
            </div>
        }
    </div>
</div>