
@{
    ViewBag.Title = "New";
}

<h2>Create Recipe</h2>
<form action="/Recipe/Create" method="POST">
    <div>
        <label>Recipe Title:</label> <input type="text" name="RecipeTitle" />
    </div>
    <div>
        <label>Recipe Instructions:</label> <textarea name="RecipeInstructions"></textarea>
    </div>
    <div>
        <label>Recipe Type:</label> <input type="text" name="RecipeType" />
    </div>
    <div>
        <label>Difficulty Level:</label> <input type="text" name="RecipeDifficultyLevel" />
    </div>
    <div>
        <label>User ID:</label> <input type="number" name="AppUserID" />
    </div> <!-- need to fix this -->
    <div>
        <input type="submit" value="Add Recipe" />
    </div>
</form>

